
import(methods)
# import(modeltools)

export(ctree, TreeFitMemory, innerNode, survNode, barNode, boxNode,
       histNode, densNode, termNode)

exportClasses("BinaryTree", "LearningSample", "SplittingNode", "TreeControl")
exportMethods("initialize")

S3method(print, BinaryTree)
S3method(plot, BinaryTree)
S3method(predict, BinaryTree)

useDynLib(party)
