
import(methods)
# import(modeltools)

export(ctree, TreeFitMemory, innerNode, survNode, barNode, boxNode,
       histNode, densNode, termNode, weights, where, nodes)

exportClasses("BinaryTree", "LearningSample", "SplittingNode", "TreeControl")
exportMethods("initialize")

S3method(print, BinaryTree)
S3method(print, nominalSplit)
S3method(print, orderedSplit)
S3method(print, SplittingNode)
S3method(print, TerminalNode)
S3method(plot, BinaryTree)
S3method(predict, BinaryTree)

useDynLib(party)
