
import(methods)
importFrom(coin, logrank_trafo)

export(ctree, ctree_memory, ctree_control, 
       panel_inner_node, panel_simple_edge, panel_terminal_node,
       panel_surv, panel_bar, panel_box,
       panel_hist, panel_dens, weights, 
       where, nodes, conditionalTree,
       treeresponse, response)

exportClasses("BinaryTree", "LearningSample", "SplittingNode",
              "TerminalNode", "TreeControl")
exportMethods("initialize", "fit")

S3method(print, BinaryTree)
S3method(print, nominalSplit)
S3method(print, orderedSplit)
S3method(print, SplittingNode)
S3method(print, TerminalNode)
S3method(plot, BinaryTree)
S3method(predict, BinaryTree)

useDynLib(party)
